# Data Manipulation in Python

## Objectives

- Construct list and dictionary comprehensions
- Extract data from nested data structures
- Write functions to transform data

Let's review some python data manipulation... with NBA data!

![nba finals image from ESPN](https://a.espncdn.com/photo/2022/0408/nba_playoff-preview_16x9_608x342.jpg)

## PythonLists

### List Methods

Here are a few common list methods:

- `.append()`: adds the input element to the end of a list
- `.pop()`: removes and returns the element with input index from the list
- `.extend()`: adds the elements in the input iterable to the end of a list
- `.index()`: returns the first place in a list where the argument is found
- `.remove()`: removes element by value
- `.count()`: returns the number of occurrences of the input element in a list

Let's practice with a few!

### Create Our NBA Team Roster

In a perfect world, which four teams would you have in the NBA semi-finals?

I've provided a list of NBA teams below. Let's create our dream list! Pick 4 teams you'd like to be in your semi-finals, and put those in your `nba_teams` list:


```
['Dallas Mavericks', 'Orlando Magic', 'San Antonio Spurs', 'Denver Nuggets', 'Brooklyn Nets', 'Washington Wizards', 'Golden State Warriors', 'Los Angeles Clippers', 'Los Angeles Lakers', 'Memphis Grizzlies', 'Milwaukee Bucks', 'Phoenix Suns', 'Miami Heat', 'Indiana Pacers', 'Sacremento Kings', 'Detroit Pistons', 'New York Knicks', 'Portland Trail Blazers', 'Oklahoma City Thunder', 'Cleveland Cavaliers', 'Toronto Raptors', 'New Orleans Pelicans', 'Charlotte Hornets', 'Atlanta Hawks', 'Minnesota Timberwolves', 'Boston Celtics', 'Houston Rockets', 'Chicago Bulls', 'Utah Jazz', 'Philadelphia 76ers']
```

(don't know or care anything about the NBA? no worries, just pick four at random, or make some up!)

In [1]:
# Replace None with code to create your list
nba_teams = [
    'Boston Celtics',
    'Miami Heat',
    'Houston Rockets',
    'Golden State Warriors'
]

In [2]:
# Check the contents of your list
nba_teams

['Boston Celtics', 'Miami Heat', 'Houston Rockets', 'Golden State Warriors']

Since lists are indexed, you can both access elements using their index number and access slices of lists using index numbers.

In [3]:
# Access the first, aka zero-th, element of your list
nba_teams[0]

'Boston Celtics'

In [4]:
# Now access a range
nba_teams[1:3]

['Miami Heat', 'Houston Rockets']

## For Loops

What if we wanted to remove spaces from each of the team names? Whenever we want to access each element from a collection of elements or iterable, we should consider using some kind of loop - here, let's use a `for` loop to remove the spaces from each team name.

In [5]:
# Always easier to test on a single element first
# Try removing the spaces from nba_team[0]
nba_teams[0].replace(" ", "")

'BostonCeltics'

In [8]:
# Now that we can do one, let's try with a loop!
# Create a new list, nba_team_nospace, with team names without spaces
nba_team_nospace = []

for team in nba_teams:
    nba_team_nospace.append(team.replace(" ", ""))

In [9]:
# Check your work
nba_team_nospace

['BostonCeltics', 'MiamiHeat', 'HoustonRockets', 'GoldenStateWarriors']

### List Comprehension

**Neat trick!** You can write one-line for loops!

List comprehensions are especially useful if you'd like to loop over something and output a new list - just like we did above!

The syntax is: `[f(x) for x in <iterable> if <condition>]`

In [10]:
# Change our loop to a list comprehension
[team.replace(" ", "") for team in nba_teams]

['BostonCeltics', 'MiamiHeat', 'HoustonRockets', 'GoldenStateWarriors']

Do you _need_ to use list comprehension for this? Nope! But list comprehensions are more efficient: The syntax is often simpler, and they're also faster. Also, you'll see them in other people's code, so you'll have to know how to work with them!

# Dictionaries

## Dictionary Methods

Make sure you're comfortable with the following dictionary methods:

- `.keys()`: returns an array of the dictionary's keys
- `.values()`: returns an array of the dictionary's values
- `.items()`: returns an array of key-value tuples

What if we wanted to know the locations of our teams? Let's update our dream teams to be a dictionary, named `nba_dict`, where the key is the team name, and the value is the state where that team is located.

Many ways to do this - let's use a `.join()`!

In [11]:
nba_teams

['Boston Celtics', 'Miami Heat', 'Houston Rockets', 'Golden State Warriors']

In [12]:
# Joins need two lists
# So, creating my state list to match my teams list
state_list = ['Massachusetts', 'Florida', 'Texas', 'California']

In [13]:
# Now, create your nba_dict
nba_dict = dict(zip(nba_teams, state_list))

In [14]:
# Check your work
nba_dict

{'Boston Celtics': 'Massachusetts',
 'Miami Heat': 'Florida',
 'Houston Rockets': 'Texas',
 'Golden State Warriors': 'California'}

Let's practice more loops: write a loop that prints the team name if that team is based in Texas (or, pick a state that's in your dictionary!)

In [15]:
# Loop over your dictionary
# Note that we want to access both the key and the value...
for key, value in nba_dict.items():
    if value == 'Texas':
        print(key)

Houston Rockets

Now let's make a new dictionary, `tx_dict` (or change to whatever state you used above), where the key is the first word of the team name, and the value is the last word of the team name in all capital letters:

In [16]:
# Create your tx_dict
# Key is the state, value is the last word in all caps
tx_dict = {}

for key, value in nba_dict.items():
    if value == 'Texas':
        tx_dict[key.split(" ")[0]] = key.split(" ")[-1].upper()

In [17]:
# Check your work
tx_dict

{'Houston': 'ROCKETS'}

### Dictionary Comprehension

Guess what! Just like there's list comprehension to write one-line for loops to output a list, there's the same for dictionaries! This can allow you to take one dictionary and transform it into another.

The syntax is: `{f(key):f(value) for (key,value) in <dictonary>.items() if <condition>}`

In [18]:
# Change our loop to a dictionary comprehension
{key.split(" ")[0]: key.split(" ")[-1].upper() for key, value in nba_dict.items() if value == 'Texas'}

{'Houston': 'ROCKETS'}

As you might note, this can get really long! Up to you how much you want to write in one line of code... typical max would be 80 characters, FYI.

In [19]:
# You can get creative with it too!
{f"Team {x+1}": list(nba_dict.keys())[x] for x in range(len((nba_dict.values())))}

{'Team 1': 'Boston Celtics',
 'Team 2': 'Miami Heat',
 'Team 3': 'Houston Rockets',
 'Team 4': 'Golden State Warriors'}

## Optional -- Nesting

There is more to a team beyond the team name and the state they're based out of. Let's play around with this new, nested dictionary, `nba_2022`, where the keys are the eight teams that made it to the semi-finals this year, and the value is a dictionary with details like the state, division, and location.

In [20]:
nba_2022 = {
    'Miami Heat':{
        'State': 'Florida',
        'Division': 'East',
        'Lat': 25.781389,
        'Long': -80.188056
    },
    'Philadelphia 76ers':{
         'State': 'Pennsylvania',
         'Division': 'East',
         'Lat': 39.901111,
         'Long': -75.171944
    },
    'Milwaukee Bucks':{
        'State': 'Wisconsin',
        'Division': 'East',
        'Lat': 43.045028,
        'Long': -87.918167
    },
    'Boston Celtics':{
        'State': 'Massachusetts',
        'Division': 'East',
        'Lat': 42.366303,
        'Long': -71.062228
    },
    'Phoenix Suns':{
        'State': 'Arizona',
        'Division': 'West',
        'Lat': 33.445833,
        'Long': -112.071389
    },
    'Dallas Mavericks': {
        'State': 'Texas',
        'Division': 'West',
        'Lat': 32.790556,
        'Long': -96.810278
    },
    'Golden State Warriors':{
        'State': 'California',
        'Division': 'West',
        'Lat': 37.768056,
        'Long': -122.3875
    },
    'Memphis Grizzlies':{
        'State': 'Tennessee',
        'Division': 'West',
        'Lat': 35.138333,
        'Long': -90.050556
    }
}

Now, if we wanted to check the team names, we could check the keys of this dictionary:

In [21]:
# Check out the keys of nba_2022
nba_2022.keys()

dict_keys(['Miami Heat', 'Philadelphia 76ers', 'Milwaukee Bucks', 'Boston Celtics', 'Phoenix Suns', 'Dallas Mavericks', 'Golden State Warriors', 'Memphis Grizzlies'])

How would we access one of those Divisions?

In [22]:
# Try for the Memphis Grizzlies
nba_2022['Memphis Grizzlies']['Division']

'West'

Now let's write a loop that prints out the state for each team:

In [23]:
# Print out each team's state using a loop
for team_details in nba_2022.values():
    print(team_details['State'])

Florida
Pennsylvania
Wisconsin
Massachusetts
Arizona
Texas
California
Tennessee

In [27]:
[team_details['State'] for team_details in nba_2022.values()]

['Florida',
 'Pennsylvania',
 'Wisconsin',
 'Massachusetts',
 'Arizona',
 'Texas',
 'California',
 'Tennessee']

Just as we can put lists and dictionaries inside of other lists and dictionaries, we can also put comprehensions inside of other comprehensions!

In [28]:
# An example of nested comprehensions
{f"{name}'s Lat & Long": 
    [v for k,v in details.items() if "L" in k] for name, details in nba_2022.items()}

{"Miami Heat's Lat & Long": [25.781389, -80.188056],
 "Philadelphia 76ers's Lat & Long": [39.901111, -75.171944],
 "Milwaukee Bucks's Lat & Long": [43.045028, -87.918167],
 "Boston Celtics's Lat & Long": [42.366303, -71.062228],
 "Phoenix Suns's Lat & Long": [33.445833, -112.071389],
 "Dallas Mavericks's Lat & Long": [32.790556, -96.810278],
 "Golden State Warriors's Lat & Long": [37.768056, -122.3875],
 "Memphis Grizzlies's Lat & Long": [35.138333, -90.050556]}

In [29]:
# But remember ... it's okay to easier to write this out as a for loop
# THEN you can condense into a comprehension more easily!

lat_long_dict = {}

for name, details in nba_2022.items():
    loc_list = []    
    for key, detail in details.items():        
        if 'L' in key:
            loc_list.append(detail)
    lat_long_dict[f"{name}'s Lat & Long"] = loc_list
    
# Check it
lat_long_dict

{"Miami Heat's Lat & Long": [25.781389, -80.188056],
 "Philadelphia 76ers's Lat & Long": [39.901111, -75.171944],
 "Milwaukee Bucks's Lat & Long": [43.045028, -87.918167],
 "Boston Celtics's Lat & Long": [42.366303, -71.062228],
 "Phoenix Suns's Lat & Long": [33.445833, -112.071389],
 "Dallas Mavericks's Lat & Long": [32.790556, -96.810278],
 "Golden State Warriors's Lat & Long": [37.768056, -122.3875],
 "Memphis Grizzlies's Lat & Long": [35.138333, -90.050556]}

## Functions -- Know how to read this and what it is doing

This aspect of Python is _incredibly_ useful! Writing your own functions can save you a TON of work - by _automating_ it.

### Creating Functions

The first line will read:

```python

'def' function_name() ':'

```

Any arguments to the function will go in the parentheses, and you can set default arguments in those parentheses as well.

In [30]:
def find_team_details(nested_dictionary, detail_desc='State'):
    '''
    Function that takes in a dictionary, where team names are keys and values are
    dictionaries of details on that team, and then checks which keys in
    the nested team dictionary match the provided string. The output is a list
    of tuples, with each team's name and a list of matched details.
    
    Inputs:
        nested_dictionary : dictionary
        detail_desc : string (default is 'State')
        
    Outputs:
        output_list : tuple
    '''
    
    output_list = []
    
    for name, details in nested_dictionary.items():
        team_list = []    
        for key, detail in details.items():        
            if detail_desc in key:
                team_list.append(detail)
        output_list.append((name, team_list))
                
    return output_list

In [31]:
# Try it!
output = find_team_details(nba_2022, 'L')
output

[('Miami Heat', [25.781389, -80.188056]),
 ('Philadelphia 76ers', [39.901111, -75.171944]),
 ('Milwaukee Bucks', [43.045028, -87.918167]),
 ('Boston Celtics', [42.366303, -71.062228]),
 ('Phoenix Suns', [33.445833, -112.071389]),
 ('Dallas Mavericks', [32.790556, -96.810278]),
 ('Golden State Warriors', [37.768056, -122.3875]),
 ('Memphis Grizzlies', [35.138333, -90.050556])]

In [32]:
type(output[0])

tuple

---

# Extra Practice Exercises

1) Use a list comprehension to extract the odd numbers from this set (`nums`):

In [33]:
nums = set(range(1000))

In [37]:
# Your code here
[x for x in nums if x % 2 != 0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199,
 201,
 203,
 205,
 207,
 209,
 211,
 213,
 215,
 217,
 219,
 221,
 223,
 225,
 227,
 229,
 231,
 233,
 235,
 237,
 239,
 241,
 243,
 245,
 247,
 249,
 251,
 253,
 255,
 257,
 259,
 261,
 263,
 265,
 267,
 269,
 271,
 273,
 275,
 277,
 279,
 281,
 283,
 285,
 287,
 289,
 291,
 293,
 295,
 297,
 299,
 301,
 303,
 305,
 307,
 309,
 311,
 313,
 315,
 317,
 319,
 321,
 323,
 325,
 327,
 329,
 331,
 333,
 335,
 337,
 339,
 341,
 343,
 345,
 347,
 349,
 351,
 353,
 355,
 357,
 359,
 361,
 363,
 365,
 367,
 369,
 371,
 373,
 375,
 377,
 379,
 381,
 383,
 385,
 387,
 389,
 391,
 393,
 395,
 397,
 399,
 401,
 403,
 405,
 407,
 409,
 411,
 413,
 415,
 417,
 419,
 421,
 423,
 425,
 427,
 429,
 431,
 433,
 435,
 437,
 439,
 441,
 443,
 445,
 447,
 449,
 451,
 453,
 455,
 457,
 459,
 461,
 463,
 465,
 467,
 469,
 471,
 473,
 475,
 477,
 479,
 481,
 483,
 485,
 487,
 489,
 491,
 493,
 495,
 497,
 499,
 501,
 503,
 505,
 507,
 509,
 511,
 513,
 515,
 517,
 519,
 521,
 523,
 525,
 527,
 529,
 531,
 533,
 535,
 537,
 539,
 541,
 543,
 545,
 547,
 549,
 551,
 553,
 555,
 557,
 559,
 561,
 563,
 565,
 567,
 569,
 571,
 573,
 575,
 577,
 579,
 581,
 583,
 585,
 587,
 589,
 591,
 593,
 595,
 597,
 599,
 601,
 603,
 605,
 607,
 609,
 611,
 613,
 615,
 617,
 619,
 621,
 623,
 625,
 627,
 629,
 631,
 633,
 635,
 637,
 639,
 641,
 643,
 645,
 647,
 649,
 651,
 653,
 655,
 657,
 659,
 661,
 663,
 665,
 667,
 669,
 671,
 673,
 675,
 677,
 679,
 681,
 683,
 685,
 687,
 689,
 691,
 693,
 695,
 697,
 699,
 701,
 703,
 705,
 707,
 709,
 711,
 713,
 715,
 717,
 719,
 721,
 723,
 725,
 727,
 729,
 731,
 733,
 735,
 737,
 739,
 741,
 743,
 745,
 747,
 749,
 751,
 753,
 755,
 757,
 759,
 761,
 763,
 765,
 767,
 769,
 771,
 773,
 775,
 777,
 779,
 781,
 783,
 785,
 787,
 789,
 791,
 793,
 795,
 797,
 799,
 801,
 803,
 805,
 807,
 809,
 811,
 813,
 815,
 817,
 819,
 821,
 823,
 825,
 827,
 829,
 831,
 833,
 835,
 837,
 839,
 841,
 843,
 845,
 847,
 849,
 851,
 853,
 855,
 857,
 859,
 861,
 863,
 865,
 867,
 869,
 871,
 873,
 875,
 877,
 879,
 881,
 883,
 885,
 887,
 889,
 891,
 893,
 895,
 897,
 899,
 901,
 903,
 905,
 907,
 909,
 911,
 913,
 915,
 917,
 919,
 921,
 923,
 925,
 927,
 929,
 931,
 933,
 935,
 937,
 939,
 941,
 943,
 945,
 947,
 949,
 951,
 953,
 955,
 957,
 959,
 961,
 963,
 965,
 967,
 969,
 971,
 973,
 975,
 977,
 979,
 981,
 983,
 985,
 987,
 989,
 991,
 993,
 995,
 997,
 999]

<details>
    <summary>Answer
    </summary>
    <code>[num for num in nums if num % 2 == 1]</code>
    </details>

2) Use a list comprehension to take the first character of each string from the following list `words`:

In [38]:
words = ['carbon', 'osmium', 'mercury', 'potassium', 'rhenium', 'einsteinium',
        'hydrogen', 'erbium', 'nitrogen', 'sulfur', 'iodine', 'oxygen', 'niobium']

In [39]:
# Your code here

[x[0] for x in words]

['c', 'o', 'm', 'p', 'r', 'e', 'h', 'e', 'n', 's', 'i', 'o', 'n']

<details>
    <summary>Answer
    </summary>
    <code>[word[0] for word in words]</code>
    </details>

3) Use a list comprehension to build a list of all the names that start with 'R' from the following `names` list. Add a '?' to the end of each name.

In [40]:
names = ['Randy', 'Robert', 'Alex', 'Ranjit', 'Charlie', 'Richard', 'Ravdeep',
        'Vimal', 'Wu', 'Nelson']

In [41]:
# Your code here

[f"{x}?" for x in names if x[0] == 'R']

['Randy?', 'Robert?', 'Ranjit?', 'Richard?', 'Ravdeep?']

<details>
<summary>Answer
    </summary>
    <code>[name+'?' for name in names if name[0] == 'R']</code>
    </details>

4) From the `phone_nos` list below, make a list of dictionaries where the key is the person's name and the value is the person's home phone number.

In [42]:
phone_nos = [{'name': 'greg', 'nums': {'home': 1234567, 'work': 7654321}},
             {'name': 'max', 'nums': {'home': 9876543, 'work': 1010001}},
             {'name': 'erin', 'nums': {'home': 3333333, 'work': 4444444}},
             {'name': 'joél', 'nums': {'home': 2222222, 'work': 5555555}},
             {'name': 'sean', 'nums': {'home': 9999999, 'work': 8888888}}]

In [56]:
# Your code here
person_dict = []

for person in phone_nos:
    person_dict.append({person['name']:person['nums']['home']})

person_dict

[{'greg': 1234567},
 {'max': 9876543},
 {'erin': 3333333},
 {'joél': 2222222},
 {'sean': 9999999}]

In [57]:
{x['name']:x['nums']['home'] for x in phone_nos}

{'greg': 1234567,
 'max': 9876543,
 'erin': 3333333,
 'joél': 2222222,
 'sean': 9999999}

<details>
    <summary>Answer</summary>
    <code>[{item['name']: item['nums']['home']} for item in phone_nos]</code>
    </details>

5) Using this `customer` dictionary, build a dictionary where the customers' names are the keys and the movies they've bought are the values.

In [59]:
customers = {
    'bill': {'purchases': {'movies': ['Terminator', 'Elf'],
                           'books': []},
             'id': 1},
    'dolph': {'purchases': {'movies': ['It Happened One Night'],
                            'books': ['The Far Side Gallery']},
              'id': 2},
    'pat': {'purchases': {'movies': [],
                          'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
            'id': 3}
}

In [76]:
# Your code here
{x:y['purchases']['movies'] for x,y in customers.items()}

{'bill': ['Terminator', 'Elf'], 'dolph': ['It Happened One Night'], 'pat': []}

<details>
    <summary>Answer</summary>
    <code>{customer: customers[customer]['purchases']['movies'] for customer in customers.keys()}</code> <br/>
    OR <br/>
    <code>{k: v['purchases']['movies'] for k, v in customers.items()}</code>
    </details>

6) Build a function that will return $2^n$ for an input integer $n$.

In [77]:
# Your code here

def two_power(n):
    return 2**n

In [79]:
two_power(7)

128

<details>
    <summary>Answer</summary>
    <code>
def expo(n):
    return 2**n</code>
    </details>

7) Build a function that will take in a list of phone numbers as strings and return the same as integers, removing any parentheses ('(' and ')'), hyphens ('-'), and spaces.

In [80]:
phone_num_list = ['(949) 755-1111', '999-666-2222', '(966)-111-1111', 9999999999]

In [84]:
# Your code here
def clean_phone_list(unclean):
    cleaned_list = [int(str(x).replace(" ","").replace("(","").replace(")","").replace("-","")) for x in unclean]
    
    return cleaned_list

In [85]:
clean_phone_list(phone_num_list)

[9497551111, 9996662222, 9661111111, 9999999999]

In [86]:
type(clean_phone_list(phone_num_list)[0])

int

<details>
    <summary>Answer</summary>
    <code>
def int_phone(string_list):
    return [int(string.replace('(', '').replace(')', '').replace('-', '').replace(' ', ''))\
    for string in string_list]</code>
    </details>

8) Build a function that returns the mode of a list of numbers.

In [87]:
list_of_numbers = [1,2,2,2,3,3,3,3,3,3,3,3,4,5,6,6,6]

In [120]:
def get_mode(data):
    
    frequency_dict = {}
    
    for num in data:
        if num not in frequency_dict:
            frequency_dict[num] = 1
        else:
            frequency_dict[num] += 1
    
    highest_freq = max(frequency_dict.values())
    
    modes = []
    
    for num, freq in frequency_dict.items():
        if freq == highest_freq:
            modes.append(num)
            
    return modes

In [121]:
get_mode(list_of_numbers)

[3]

In [104]:
# Your code here
def find_mode(input_list):
    counts = {num: input_list.count(num) for num in input_list}
    return [num for num in counts.keys() if counts[num] == max(counts.values())]

In [105]:
mode(list_of_numbers)

[3]

<details>
    <summary>Answer</summary>
        <code>
def mode(lst):
    counts = {num: lst.count(num) for num in lst}
    return [num for num in counts.keys() if counts[num] == max(counts.values())]</code>
    </details>